<div class="card" style="width: 18rem;">
    <img src="../assets/img/about-bg.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">About Me!</h5>
        <p class="card-text">My name is Pham Phu Son , Student in FPT University - Now, I learning in FPT Software(FA Academy)</p>

    </div>
</div>