@using FA.JustBlog.Core.Models
@using FA.JustBlog.Core.Repository.UnitOfWork
@model IList<Post>
@inject IUnitOfWork ouw;


    @{
        IList<Post> mostViewPost = ouw.PostRepository.GetMostViewedPost(5);
    }

    @foreach (var item in mostViewPost)
    {
        <a href="DetailbyUrlSlug?urlslug=@item.UrlSlug">

        <h5 style="margin:4px 0">@item.Title</h5>
        <p style="margin:4px 0">@item.PostedOn</p>
        </a>
       

        
    }