@using FA.JustBlog.Core.Models
@using FA.JustBlog.Core.Repository.UnitOfWork

@inject IUnitOfWork ouw;


@{
    IEnumerable<Category> listCategory = ouw.CategoryRepository.GetAll();
}

@foreach (var item in listCategory)
{
    <li><a class="dropdown-item" href="/Post/Category?cname=@item.Name">@item.Name</a></li>
}